

<body>

<!-- ngfor fazer lista de quantidades que quer no limite do seu form
ngif se uma condição for satisfeita acessar -->
<!-- <div *ngIf="condition">Content to render when condition is true.</div> -->


</body>
<div class="backgroud">
    
    <div id="espaco">
        <p id="pcadastro"> Novo Produto</p>
        nome do produto 
       
        {{ product.name}} 
      
        <input  type="text" name="produto">
        preço 
        <input  type="text" name="preco"><br><br>
        código de barras: 
        <input  type="text" name="codigoBarras" placeholder="Teste"><br><br>
        quantidade em estoque: 
        <input  type="text" name="quantidadeEstoque"><br><br>
        descrição 
        <input  type="text" name="descricao"><br><br><br>   
    </div>
      
    
  <div>
        <img class="imagem"src="/assets/cadastro01.png" > <br><br>
 </div>
    
   <div>
    <button id="buttonCadastro" type = "submit"> Salvar </button> 
   </div> 
    
   
</div>
