<br>
<br>
<br>
<br>
<br>
<br>

<div class="conteiner">
    <div class="caixa">
        <input type="text" name="produto">
        <input type="text" name="preco">
        <input type="text" name="codigoBarras">
        <input type="text" name="quantidadeEstoque">
        <input type="text" name="quantidadeEstoque">
    </div>

    <div class="caixa">
        <input type="text ">
        <input type="text ">
        <input type="text ">
        <input type="text ">
        <input type="text ">
    </div>

    <div class="caixa ">
        <input type="text ">
        <input type="text ">
        <input type="text ">
        <input type="text ">
        <input type="text ">

    </div>

</div>

<br>
<br>
<br>

<div class="conteiner ">
    <div class="caixa ">
        <input type="text ">
        <input type="text ">
        <input type="text ">
        <input type="text ">
        <input type="text ">
    </div>

    <div class="caixa ">
        <input type="text ">
        <input type="text ">
        <input type="text ">
        <input type="text ">
        <input type="text ">
    </div>

    <div class="caixa ">
        <input type="text ">
        <input type="text ">
        <input type="text ">
        <input type="text ">
        <input type=" ">
    </div>


</div>