<br>
<br>
<br>
<br>
<br>
<br>

<div class="conteiner">
    <div class="caixa">
        <ul>
              <!-- <li>{{listProduct[0].name}}</li>   -->
              <li *ngFor="let a of listProduct; index as i;"> 
                  {{a.name}}
                
              </li>
            
              <!-- <li>{{listProduct[0].name}}</li> -->
 
        </ul>
    </div>

    <div class="caixa">
        <ul>
            <!-- <li>{{listProduct[0].name}}</li>   -->
            <li *ngFor="let a of listProduct; index as i;"> 
                {{a.name}}
              
            </li>
          
            <!-- <li>{{listProduct[0].name}}</li> -->

      </ul>
    </div>

    <div class="caixa ">
        

    </div>

</div>

<br>
<br>
<br>

<div class="conteiner ">
    <div class="caixa ">
      
             
    </div>

    <div class="caixa ">
        
    </div>

    <div class="caixa ">
        <input type="text ">
        <input type="text ">
        <input type="text ">
        <input type="text ">
    </div>


</div>