    <div id>
        <p id="p1Home">Bem Vindo ao</p>
        <p id="p2Home"> Cadastrando</p>
    </div>
   
    <div id="containerHome">
        <p id="p3Home">Login </p><br>
        <form id="formHome">
            Login<br>
            <input [(ngModel)]="name" type="text" name="name"><br> 
            Senha<br>
            <input [(ngModel)]="password" type="text" name="password"><br>
           
        </form>
        <button id="buttonLogin" (click)="registerUser()"> Logar </button>  
        <!-- <button id="buttonLogin" [routerLink]="'/webstore'"> Logar </button>   -->
    </div>

